# Cloudzillion Station Configuration
CZ_SERVER_URL=https://cloudzillion.com
CZ_STATION_ID="00000000-0000-0000-0000-000000000000"
CZ_STATION_KEY="your_raw_station_secret_here"

# Local Hardware Configuration
PRINTER_IP=192.168.4.200